*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.box1{
    border: 2px solid white;
    border-radius: 5px;
    
    padding: 5px;
    margin: 5px;
    height: 200px;
    line-height: 50px;
    color: whitesmoke;
}

@media only screen and (min-width: 360px) and (max-width: 586px){
   .container{ 
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: gainsboro;
    }
}

    @media only screen and (min-width: 587px) and (max-width: 992px){
   .container{ 
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: gainsboro;
         flex-wrap:wrap;
    }

    }


    @media only screen and (min-width: 1200px){
   .container{ 
    width: 100%;
       display: flex;
       flex-wrap:wrap;
    margin: 5px;
    padding: 5px;
    background-color: gainsboro;
    }

    }

